<!--
In $HOME/Library/LaunchAgents
launchctl load  $HOME/Library/LaunchAgents/rs.sh # starts the cronjob (it will start also after machine restart)
launchctl list | grep watching # verifies cronjob is on
launchctl unload  $HOME/Library/LaunchAgents/rs.sh # stops the cronjob 
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>hackerCron</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/onni/Applications/.rs.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
